In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score

In [3]:
import os
#path=os.getcwd()
path ='B:\\Machine Learning Bijay Explore\\DataMites\\Data'
os.chdir(path)
os.getcwd()

'B:\\Machine Learning Bijay Explore\\DataMites\\Data'

In [4]:
cars=pd.read_csv("mtcars.csv")
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [5]:
cars.shape

(32, 12)

In [6]:
cars.isnull().count()

car_model    32
mpg          32
cyl          32
disp         32
hp           32
drat         32
wt           32
qsec         32
vs           32
am           32
gear         32
carb         32
dtype: int64

In [7]:
cars.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.854553,-0.848323,-0.748338,0.664093,-0.876525,0.362559,0.610570,0.658809,0.480045,-0.510205
cyl,-0.854553,1.000000,0.904855,0.821048,-0.639699,0.828594,-0.513701,-0.773405,-0.621461,-0.453460,0.554153
disp,-0.848323,0.904855,1.000000,0.784517,-0.650057,0.909787,-0.389220,-0.676439,-0.640002,-0.520970,0.415707
hp,-0.748338,0.821048,0.784517,1.000000,-0.352187,0.666635,-0.732310,-0.717553,-0.283276,-0.061141,0.772405
drat,0.664093,-0.639699,-0.650057,-0.352187,1.000000,-0.693334,-0.117535,0.279943,0.763135,0.710735,-0.000400
wt,-0.876525,0.828594,0.909787,0.666635,-0.693334,1.000000,-0.170668,-0.547939,-0.718505,-0.588810,0.418441
qsec,0.362559,-0.513701,-0.389220,-0.732310,-0.117535,-0.170668,1.000000,0.772373,-0.207698,-0.392472,-0.756134
vs,0.610570,-0.773405,-0.676439,-0.717553,0.279943,-0.547939,0.772373,1.000000,0.181463,0.098709,-0.632025
am,0.658809,-0.621461,-0.640002,-0.283276,0.763135,-0.718505,-0.207698,0.181463,1.000000,0.842662,0.035518
gear,0.480045,-0.453460,-0.520970,-0.061141,0.710735,-0.588810,-0.392472,0.098709,0.842662,1.000000,0.305056
carb,-0.510205,0.554153,0.415707,0.772405,-0.000400,0.418441,-0.756134,-0.632025,0.035518,0.305056,1.000000

In [8]:
X =cars.loc[:,['mpg','hp','wt']] 
y =cars.am

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.3,random_state=13)

In [10]:
model = LogisticRegression()

In [11]:
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)

In [12]:
accuracy_score(Y_test,y_pred)

0.9

In [13]:
print(Y_test,y_pred)

22    0
7     0
8     0
24    0
31    1
1     1
28    1
17    1
27    1
15    0
Name: am, dtype: int64 [0 0 0 0 1 0 1 1 1 0]

In [14]:
pd.crosstab(Y_test,y_pred)

col_0  0  1
am
0      5  0
1      1  4

In [15]:
confusion_matrix(Y_test,y_pred)

array([[5, 0],
       [1, 4]], dtype=int64)

In [16]:
recall_score(Y_test,y_pred)

0.8

In [17]:
precision_score(Y_test,y_pred)

1.0

In [18]:
r2_score(Y_test,y_pred)

0.6