In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from collections import Counter
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
%matplotlib inline

In [2]:
import os
#path=os.getcwd()
path ='B:\\Machine Learning Bijay Explore\\DataMites\\Data'
os.chdir(path)
os.getcwd()

'B:\\Machine Learning Bijay Explore\\DataMites\\Data'

In [3]:
data = pd.read_csv("car_evaluation.csv")

In [4]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [5]:
Counter (data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [6]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [7]:
X=data.iloc[:,:-1]
y=data.outcome

In [8]:
enc = LabelEncoder()
X.buying= enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot= enc.fit_transform(X.lug_boot)
X.safety= enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.25,random_state=10)

In [10]:
model= KNeighborsClassifier(n_neighbors=5,metric='minkowski')
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test,y_pred)

0.9421296296296297

In [11]:
pd.crosstab(Y_test,y_pred)

col_0    acc  good  unacc  vgood
outcome
acc       77     1      6      0
good       5    14      0      0
unacc      3     0    304      0
vgood      7     2      1     12