In [2]:
import os
#path=os.getcwd()
path ='B:\\Machine Learning Bijay Explore\\DataMites\\Data'
os.chdir(path)
os.getcwd()

'B:\\Machine Learning Bijay Explore\\DataMites\\Data'

In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale,LabelEncoder
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.neural_network import MLPClassifier

In [9]:
data = pd.read_csv('car_evaluation.csv')
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [10]:
X=data.iloc[:,:-1]
y=data.outcome

In [11]:
enc = LabelEncoder()
X.buying= enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot= enc.fit_transform(X.lug_boot)
X.safety= enc.fit_transform(X.safety)
X.head(3)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0

In [17]:
X=scale(X)  #ANN should be scaled

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=10)

In [20]:
model= MLPClassifier(hidden_layer_sizes=(100,50),max_iter=300,random_state=10)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

1.0

In [21]:
pd.crosstab(y_test,y_pred)

col_0    acc  good  unacc  vgood
outcome
acc       84     0      0      0
good       0    19      0      0
unacc      0     0    307      0
vgood      0     0      0     22