In [1]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [2]:
data.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [3]:
from collections import Counter
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [6]:
X = data.iloc[:,:-1]
y = data.outcome

from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['buying','maint','lug_boot','safety']] = X.loc[:,['buying','maint','lug_boot','safety']].apply(enc.fit_transform)

In [7]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=10)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.928709055876686

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

pip install imblearn

In [13]:
from imblearn.over_sampling import SMOTE

In [21]:
smote = SMOTE()
X_train_smote, y_train_smote = smote.fit_sample(X_train.astype('float'),y_train)

In [22]:
print(Counter(y_train))
print(Counter(y_train_smote))

Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [23]:
pd.DataFrame(X_train_smote).tail()

        0         1         2         3    4    5
3351  1.0  1.000000  4.000000  4.367117  0.0  0.0
3352  1.0  0.845045  2.000000  5.000000  0.0  0.0
3353  2.0  1.000000  4.080915  4.000000  0.0  0.0
3354  1.0  2.000000  4.000000  4.626413  0.0  0.0
3355  2.0  1.301432  3.000000  5.000000  1.0  0.0

In [24]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9421965317919075

col_0    acc  good  unacc  vgood
outcome
acc       91     6      3      2
good       1    20      0      0
unacc     13     1    356      1
vgood      1     2      0     22

In [1]:
y=[1,2,3]
x=[1,2,5]