In [3]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.18)
Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/2c/57/af502e0e113f139b3f3add4f1efba899a730a365d2264d476e85b9591da5/PyMySQL-0.10.0-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 1.5MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.10.0

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
db_host = '18.136.56.185:3306'
username = 'dm_user_sql'
user_pass = '37z49REbnKnlpVvJ'
db_name = 'datamites_sql'

conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)
conn.table_names()

['customers', 'orders', 'products']

In [28]:
query = "select * from orders"
orders = pd.read_sql(query,conn)
print(orders.shape)
orders

(9, 6)

         order_id  order_date customer_id       product_id   sales  quantity
0  CA-2015-115812    6/9/2015    BH-11710  FUR-FU-10001487  48.860         7
1  CA-2017-105654  12/10/2017    BH-11710  FUR-TA-10000577  71.530         3
2  CA-2017-138688   6/12/2017    DV-13045  OFF-LA-10000240  14.620         2
3  CA-2017-152156   11/8/2017    CG-12520  FUR-BO-10001798  58.960         2
4  CA-2018-109265    2/8/2018    BH-11710  OFF-LA-10000240  14.620         5
5  CA-2018-109862    4/9/2018    DV-13045  OFF-PA-10002365  15.552         1
6  CA-2018-112417    6/8/2018    SO-20335  OFF-PA-10002365  15.552         2
7  CA-2018-114412   4/11/2018    AA-10480  OFF-PA-10002365  15.552         3
8  US-2016-108966  10/11/2017    SO-20335  FUR-TA-10000577  69.650         5

In [29]:
query = "select * from customers"
customers = pd.read_sql(query,conn)
print(customers.shape)
customers

(10, 5)

  customer_id       customer_name             city           state  postal_code
0    AA-10480        Andrew Allen          Concord  North Carolina        28027
1    AG-10270     Alejandro Grove      West Jordan            Utah        84084
2    BH-11710     Brosina Hoffman      Los Angeles      California        90032
3    CG-12520         Claire Gute        Henderson        Kentucky        42420
4    DV-13045     Darrin Van Huff      Los Angeles      California        90036
5    HP-14815       Harold Pawlan       Fort Worth           Texas        76106
6    IM-15070        Irene Maddox          Seattle      Washington        98103
7    PK-19075           Pete Kriz          Madison       Wisconsin        53711
8    SO-20335      Sean O'Donnell  Fort Lauderdale         Florida        33311
9    ZD-21925  Zuschuss Donatelli    San Francisco      California        94109

In [30]:
query = "select * from products"
products = pd.read_sql(query,conn)
print(products.shape)
products.head()

(14, 4)

        product_id  ...                                       product_name
0  FUR-BO-10001798  ...                  Bush Somerset Collection Bookcase
1  FUR-CH-10000454  ...  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2  FUR-FU-10001487  ...  Eldon Expressions Wood and Plastic Desk Access...
3  FUR-TA-10000577  ...      Bretford CR4500 Series Slim Rectangular Table
4  FUR-TA-10001539  ...           Chromcraft Rectangular Conference Tables

[5 rows x 4 columns]

# SQL Where Condition

In [10]:
query = "select * from products where category='Furniture'"
products = pd.read_sql(query,conn)
print(products.shape)
products

(5, 4)

        product_id  ...                                       product_name
0  FUR-BO-10001798  ...                  Bush Somerset Collection Bookcase
1  FUR-CH-10000454  ...  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2  FUR-FU-10001487  ...  Eldon Expressions Wood and Plastic Desk Access...
3  FUR-TA-10000577  ...      Bretford CR4500 Series Slim Rectangular Table
4  FUR-TA-10001539  ...           Chromcraft Rectangular Conference Tables

[5 rows x 4 columns]

# SQL Where Condition and logical statement

In [ ]:
query = "select * from products where category='Furniture' or category='Technology'"
products = pd.read_sql(query,conn)
print(products.shape)
products

## SQL Left Join
also called as Left Outer Join

In [14]:
# fechting only customers details who have orders
query = "select * from orders  left join customers on \
orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data.head()

(9, 11)

         order_id  order_date customer_id  ...         city       state  postal_code
0  CA-2015-115812    6/9/2015    BH-11710  ...  Los Angeles  California        90032
1  CA-2017-105654  12/10/2017    BH-11710  ...  Los Angeles  California        90032
2  CA-2017-138688   6/12/2017    DV-13045  ...  Los Angeles  California        90036
3  CA-2017-152156   11/8/2017    CG-12520  ...    Henderson    Kentucky        42420
4  CA-2018-109265    2/8/2018    BH-11710  ...  Los Angeles  California        90032

[5 rows x 11 columns]

## SQL Right Join
Also called as Right outer join

In [16]:
# fechting only customers details who have orders
query = "select * from orders  right join customers on orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data.head()

(14, 11)

         order_id  order_date customer_id  ...         city       state  postal_code
0  CA-2015-115812    6/9/2015    BH-11710  ...  Los Angeles  California        90032
1  CA-2017-105654  12/10/2017    BH-11710  ...  Los Angeles  California        90032
2  CA-2017-138688   6/12/2017    DV-13045  ...  Los Angeles  California        90036
3  CA-2017-152156   11/8/2017    CG-12520  ...    Henderson    Kentucky        42420
4  CA-2018-109265    2/8/2018    BH-11710  ...  Los Angeles  California        90032

[5 rows x 11 columns]

In [ ]:
# fechting only customers details who have orders
query = "select * from customers  right join orders on orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data.head(50)

## SQL Inner Join
This is default

In [ ]:
# fechting only customers details who have orders
query = "select * from customers  inner join orders on orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data.head(50)

#  Join multiple tables

In [ ]:
# fechting only customers details who have orders
query = "select * from orders  left join customers on \
orders.customer_id=customers.customer_id \
left join products on orders.product_id = products.product_id"
data = pd.read_sql(query,conn)
print(data.shape)
data

## Quick Assessment

Fetch Orders information of customers from California State?

In [ ]:
query = "select * from orders left join customers on \
orders.customer_id = customers.customer_id left join products on orders.product_id = products.product_id where state='California' and category= 'Furniture'"
data = pd.read_sql(query,conn)
print(data.shape)
data

Fetch Orders information of customers from california who ordered furnitures

In [35]:
query = "select * from orders left join customers on orders.customer_id = customers.customer_id \
left join products on orders.product_id = products.product_id where state='California' and category='Furniture' "
data = pd.read_sql(query,conn)
print(data.shape)
data

(2, 15)

         order_id  ...                                       product_name
0  CA-2015-115812  ...  Eldon Expressions Wood and Plastic Desk Access...
1  CA-2017-105654  ...      Bretford CR4500 Series Slim Rectangular Table

[2 rows x 15 columns]