# Regular Expression Regex

In [2]:
import re

In [17]:
text = 'Want to save the $123 exception 450, 1234.92934.983.0 aslk@sdflk.com \
there is some tomorrow $576 ask@kdf.com 12.34.65.87 '

In [4]:
text

'Want to save the exception 450, 1234.92934.983.0 aslk@sdflk.com there is some tomorrow $576 ask@kdf.com 12.34.65.87 '

In [20]:
re.findall('\d+',text) # '\d+' pattern

['450', '1234', '92934', '983', '0', '576', '12', '34', '65', '87']

In [18]:
re.findall('[a-zA-Z]+',text) # '[a-zA-Z]' pattern means all alphabets

['Want',
 'to',
 'save',
 'the',
 'exception',
 'aslk',
 'sdflk',
 'com',
 'there',
 'is',
 'some',
 'tomorrow',
 'ask',
 'kdf',
 'com']

In [39]:
# find total USD in this text
text = 'Want to save the $123 exception 450, 1234.92934.983.0 aslk@sdflk.com \
there is some tomorrow $576 ask@kdf.com 12.34.65.87 '
usd = re.findall('\$\d+',text)
int(usd[0].replace('$','')) + int(usd[1].replace('$',''))

699

## Find two char words from the sentence

In [31]:
re.findall(' \w{2} ',text)

[' to ', ' is ']

In [40]:
re.findall('\S+@\S+.com',text)

['aslk@sdflk.com', 'ask@kdf.com']

In [41]:
re.findall('[a-z]+@\S+.com',text)

['aslk@sdflk.com', 'ask@kdf.com']

In [42]:
re.findall('[a-zA-Z0-9_.]+@[a-zA-Z0-9_.]+',text)

['aslk@sdflk.com', 'ask@kdf.com']

In [44]:
text2 = " the price of house is inr 2cr. sqft 3200  3 bhk,the price of house is inr 5cr. sqft 6200  6 bhk"

In [45]:
re.findall('sqft \d+',text2)

['sqft 3200', 'sqft 6200']

In [46]:
re.findall('sqft \d+',text2)[0].replace('sqft ','')

'3200'

In [39]:
int(re.findall('sqft \d+',text2)[0].replace('sqft ','')) + int(re.findall('sqft \d+',text2)[1].replace('sqft ',''))

9400

In [37]:
a = re.findall('\d+',text) # raw pattern string
import numpy as np
a = np.array(a,dtype='int')
print(text)
print(a)
print('sum: ', a.sum())

Want to save the exception 450, 1234.92934.983.0 aslk@sdflk.com there is some tomorrow $576 ask@kdf.com 12.34.65.87
[  450  1234 92934   983     0   576    12    34    65    87]
sum:  96375

In [47]:
re.findall(r'[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}',text)

['12.34.65.87']

In [48]:
re.findall(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}',text)

['12.34.65.87']

write regex to check max 255

In [ ]:
re.findall('',text)